body{
    margin: 0;
}
.main{

}
.header{
    background-color: white;
    width: 100%;
    height: 48px;
    display: flex;
 
}
.image1{
    width: 100%;
    height: 450px;
    float: left;

}
.show1{
    width: 100%;
    height: 450px;
}
.image2{
    float: left;
    width: 48.183%;
    height: 421px;
    margin-top: 1.209%;
    margin-left: 1.209%;
}
.image3{
    float: left;
    width: 48.183%;
    height: 421px;
    margin-top: 1.209%;
    margin-left: 1.209%;

}.xiaomitext{
    position: relative;
    top: -344px;
    left: 146px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 39.355px;
    color: 191919;
    letter-spacing: 1.8px;
    font-weight: 600;
    color: #ffffff;
}.smarttext{
    position: relative;
    top: -344px;
    left: 146px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 32.355px;
    color: 191919;
    letter-spacing: 1.8px;
    font-weight: 600;
    color: #ffffff;
}.vividtext{
    position: relative;
    top: -314px;
    left: -215px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 14.355px;
    color: 191919;
    letter-spacing: 0;
    font-weight: 600;
    color: #ffffff;
}.audiotext{
    position: relative;
    top: -336px;
    left: 434px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 14.355px;
    color: 191919;
    letter-spacing: 0;
    font-weight: 600;
    color: #ffffff;
}.buynowtext{
    position: relative;
    top: -309px;
    left: 196px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 15.355px;
    color: 191919;
    letter-spacing: 0;
    font-weight: 600;
    opacity: 100%;
    color: #ffffff;
}.learntext{
    position: relative;
    top: -310px;
    left: 216px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 15.355px;
    color: 191919;
    letter-spacing: 0;
    font-weight: 600;
    color: #ffffff;
}
.show2{
    width: 100%;
    height: 421px;
}.besttext{
    position: relative;
    top: -335px;
    left: 175px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 30.355px;
    color: 191919;
    letter-spacing: .8px;
    font-weight: 600;
    opacity: 90%;
}.engineeredtext{
    position: relative;
    top: -302px;
    left: -72px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 14px;
    color: 191919;
    letter-spacing: .5px;
    font-weight: 100;
    opacity: 100%;
}.buytext{
  
    position: relative;
    top: -275px;
    left: -191px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 14px;
    color: 191919;
    letter-spacing: .8px;
    font-weight: 100;
    opacity: 100%;
    color: #ff6900;
    font-weight: 500;

}
.show3{
    width: 100%;
    height: 421px;
}
.logo{
    width: 28px;
    height: 28px;
    margin-left: 35px;
    margin-top: 10px
}
.gadgets{
    
    font-size: 15.5px;
    text-decoration: none;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    padding-left: 23px;
opacity: 90%;
bottom: 10px;
font-weight: 500;
}

 .list-main{
    margin-left: -28px;
    float: left;
    width: 50%;
    height: 48px;

}
.list{
    display: flex;
    list-style: none;
}
.list-main2{
    width: 50%;
    height: 48px;
    float: left;
    display: flex;
   
}
.list2{
    display: flex;
    list-style: none;
    padding-left: 300px;
}
.fonts{
     
    font-size: 15.5px;
    text-decoration: none;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    padding-left: 23px;
opacity: 90%;
bottom: 10px;
}
.lens{
    opacity: 90%;
display: flex;
list-style: none;
text-decoration: none;
display: flex;
padding-left: 25px;
}
.lkh{
    margin-top: 10px;
    display: flex;
    list-style: none;
    padding-left: 20px;

}
.photo1{
    margin-top: 1.209%;
    margin-left: 1.209%;
    width: 48.183%;
    height: 421px;
    float: left;
}.indiastext{
    position: relative;
    top: -367px;
    left: 97px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 28px;
    letter-spacing: 0.8px;
    font-weight: 600;
    color: #191919;
}.brandtext{
    position: relative;
    top: -326px;
    left: -179px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 28px;
    letter-spacing: 0.8px;
    font-weight: 600;
    color: #191919;
}.segmenttext{
    position: relative;
    top: -292px;
    left: -330px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 14px;
    color: 191919;
    letter-spacing: .8px;
    font-weight: 100;
    opacity: 100%;
    color: #121110;
    font-weight: 500;
}.whitepiece{
    position: relative;
    top: -320px;
    left: 227px;
}.shopnowtext{
    position: relative;
    top: -273px;
    left: 71px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 14px;
    color: 191919;
    letter-spacing: .8px;
    font-weight: 100;
    opacity: 100%;
    color: #ff6900;
    font-weight: 500; 
}
.photo2{
    margin-top: 1.209%;
    margin-left: 1.209%;
    width: 23.498%;
    height: 421px;
    float: left;
}.laptoptext{
    position: relative;
    top: -379px;
    left: 38px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 29px;
    letter-spacing: 0.8px;
    font-weight: 600;
    color: white;  
}.staytext{
    position: relative;
    top: -350px;
    left: -189px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 15px;
    letter-spacing: 0.8px;
    font-weight: 500;
    color: white; 
}.powertext{
    position: relative;
    top: -370px;
    left: 102px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 15px;
    letter-spacing: 0.8px;
    font-weight: 500;
    color: white;
}
.packettext{
   
    position: relative;
    top: -370px;
    left: 104px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 15px;
    letter-spacing: .4px;
    font-weight: 500;
    color: white;

}.taketext{
    position: relative;
    top: -316px;
    left: -52px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 16px;
    letter-spacing: 1.1px;
    font-weight: 600;
    color: white;
}
.photo3{
    margin-top: 1.209%;
    margin-left: 1.209%;
    width: 23.498%;
    height: 421px;
    float: left;   
}.stacktext{
    position: relative;
    top: -257px;
    left: 46px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 30.355px;
    letter-spacing: .4px;
    font-weight: 600;
    color: black;
}.banktext{

    position: relative;
    top: -224px;
    left: -146px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 16px;
    letter-spacing: .4px;
    font-weight: 500;
    color: black;
}.cabletext{
    position: relative;
    top: -245px;
    left: 130px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 15px;
    letter-spacing: .4px;
    font-weight: 500;
    color: black;
}.lalytext{
    color: #ff6900;
    position: relative;
    top: -211px;
    left: -11px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 15px;
    letter-spacing: 1.4px;
    font-weight: 500;
}
.pic1{
    width: 100%;
    height: 421px;
}
.pic2{
    width: 100%;
    height: 421px;
}
.pic3{
    width: 264px;
    height: 264px;
    position: relative;
    left: 25px;
    top: 126px;
}
.photo4{
    margin-top: 1.209%;
    margin-left: 1.20%;
    width: 48.183%;
    height: 394px;
    float: left;
}
.pic4{
    width: 100%;
    height: 394px;
}
.text1{
    margin-top: 1.209%;
    margin-left: 1.20%;
    width: 48.183%;
    height: 394px;
    float: left;
}
.td{
    margin-top: 73px;
    margin-left: 292px;
    color:  #ff6900;
    font-size: 15.177px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    opacity: 90%;
}
.tr{
 
    margin-top: -15px;
    margin-left: 205px;
    font-size: 30.355px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    color: 191919;
    opacity: 90%;
}
.tg{
   font-size: 15.1778px;
    margin-top: -27px;
    margin-left: 197px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    color: 191919;
    opacity: 90%;

}
.te{
  font-size: 15.1778px;
    margin-top: -10px;
    margin-left: 290px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    color: 191919;
    opacity: 90%;

}
.tl{
    margin-left: 288px;
    font-size: 15.1778px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    color: 191919;
    margin-top: -16px;
    opacity: 90%;
}
.text2{
    margin-top: 1.209%;
    margin-left: 1.209%;
    width: 48.183%;
    height: 421px;
    float: left;
    padding-left: 0px;
}
.many1{
    list-style: none;
    margin-left: 10px;
    position: relative;
    right: 29px;
    padding-left: 10px;}
   .many2{
    list-style: none;
    margin-left: 10px;
    position: relative;
    right: 29px;
    padding-left: 62px;
    }
    .many3{
        list-style: none;
        margin-left: 10px;
        position: relative;
        right: 29px;
        padding-left: 94px;
    }
    .miimage1{
        position: relative;
        left: 73px;
        top: 12px;

    }.miimage2{
        position: relative;
        left: 234px;
        top: 12px;
    }.miimage3{
        position: relative;
        left: 424px;
        top: 12px;
    }

.batch{
    display: flex;
    list-style: none;
    position: relative;
    right: 3px;
    font-weight: 500;
    opacity: 90%;
}
    
.text3{
    margin-top: 1.209%;
    margin-left: 1.209%;
    width: 48.183%;
    height: 421px; 
    float: left;
}.k{
    margin-top: 45px;
    height: 79px;
    width: 100%;
}
.p1{
    font-size: 30.355px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    margin-top: 75px;
    margin-left: 226px;
    opacity: 90%;
}
.sub1{
    
    width: 100%;
    height: 205.5px;
    float: left;
    opacity: 90%;
    
}
.sub2{
    margin-top: 10px;
    width: 100%;
    height: 205.5px;
    float: left;
    opacity: 90%;
}
.super{
    width: 100%;
    height: 100px;
    float: left;
}
.block1{
font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
font-size: 30.3555px;
margin-top: 68px;
margin-left: 208px;
}
.block2{
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 15.177px;
    margin-top: -8px;
    margin-left: 208px;
}.line1{
font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
font-size: 30.355px;
margin-top: 66px;
margin-left: 236px;
}
.line2{
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 15.177px;
    margin-top: -2px;
    margin-left: 99px;
}

.footerpart1{
    width: 1346px;
    margin-left: 32px;
    height: 443px;
    float: left;
    position: relative;
    right: 712px;
    margin-top: -5px;
    background-color: #191919;

}

.section1{
    height: 443px;
    width: 230px;
    float: left;
    background-color: #191919;
}.section2{
    height: 443px;
    width: 230px;
    float: left;
    background-color: #191919;
}.section3{
    height: 443px;
    width: 230px;
    float: left;
    background-color: #191919;
}.section4{
    height: 443px;
    width: 230px;
    background-color: #191919;
    float: left;
}.abc{
    font-size: 16px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-weight: 800px;
    color: white;
    
}
.ma{
    list-style: none;
    margin-top: 13px;
    color: #898989;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 13px;
    opacity: 90%;
    line-height: 18px;

}.follow{
    font-size: 16px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-weight: 800px;
    color: white;
}
.a{
    width: 426px;
    height: 428px;
    background-color: #191919;
    float: left;
    padding-top: 15px;
}.mass{
    font-size: 16px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-weight: 800px;
    color: white;
    margin-left: 60px;
}.bottom{
    height: 100px;
    width: 1344px;
    background-color: #191919;
    float: left;

}
.cat{margin-left: 60px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
font-size: 14px;
color: white;

}.dog1{
    margin-left: 45px;
}
.dog2{
margin-left: 15px;
}.dog3{
margin-left: 15px;
}.snake{
    margin-left: 60px;
    height: 38px;
    width: 316px;
    font-size: 15px;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
    background-color: #191919;
    opacity: 90%;
    border-style: solid;
    color: white;
   


}.barcode{
    margin-top: 28px;
    height: 165px;
    width: 302px;
    margin-left: 60px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    border-radius: 10px;
    background-color: #191919;
    border-color: white;
    border-width: 1px;
    position: absolute;
    border-style: solid;
}.locate{
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
}.yasar{
margin-top: 11px;
margin-left: 95px;
 font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
font-size: 16px;
color: white;
}.gasil{
margin-top: 22px;
margin-left: 97px;
color: white;
font-size: 14px;
font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
opacity: 90%;
}.play{
    height: 52px;
    width: 302px;
    background-color: #191919;
    border-radius: 10px;
    color: white;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    position: relative;
    right: 1px;
}.ribinsh{
    margin-top: 17px;
    margin-left: 69px;
   float: left;
}.fasal{
    font-size: 14px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    float: left;
    margin-top: 19px;
    margin-left: 13px;
}
.bottom{
    height: 100px;
    width: 1344px;
    background-color: #191919;
    float: left;


}hr{
    width: 1274px;
}.shut{
    margin-left: 33px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-seri;
    font-size: 14px;
    color: white;
    margin-top: 23px;
}.hai{
    font-family: "Camphor Pro VF", "Camphor Pro", sans-seri;
    font-size: 14px;
    color: white;
    margin-left: 400px;
    margin-top: -29px;
}.hello{
    font-family: "Camphor Pro VF", "Camphor Pro", sans-seri;
    font-size: 14px;
    color: white;
    margin-left: 1207px;
    margin-top: -28px;  
}.round{
    margin-left: 1287px;
    position: relative;
    top: -36px;
}